.wrapper {
    width: 500px;
    height: 500px;
    padding-left: 150px;
}

.box {
    background-color: red;
    width: 100px;
    height: 100px;
    color: white;
    margin: 50px;
    font-size: 25px;
}

#magic {
    position: fixed;
    top: 80px;
    left: 10px;
}