
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;900&family=Roboto:wght@100;500&display=swap');

body {
    background-color: #C8E9E1;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    width: 500px;
    height: 650px;
    margin: 2em auto;
    background-color: white;
    box-shadow: 0px -6px 15px -2px #123722;
}

form {
    width: 350px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin: 0 auto; 
}

input, 
textarea {
    background-color: #EBEBEB;
    border: none;
}

input::placeholder,
textarea::placeholder {
    padding: .5em;
    font-size: 1.2em;
}
.name, .email{
    height: 3em;
}
.accept label a {
    text-decoration: none;
    color: #123722;
    font-weight: bold;
}
.accept {
    display: inline-block;
    width: 350px;
    font-weight: 300;
   
}
.check {
    width: 20px;
    margin: 0;
   
}
.description {
    margin-top: 2em;
}

h1, p {
    margin: 0;
}

h1 {
    font-weight: bold;
    letter-spacing: .1em;
    margin-bottom: .3em;
}
p {
    font-weight: 300;
    font-size: 1.2em;
}

.form__btn {
    background-color: #123722;
    width: 300px;
    margin: .5em auto;
    color: white;
    font-size: 1.5em;
    padding: .3em;
}