html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: gray;
}

.box-one {
  background-color: beige;
  width: 450px;
  border: 15px solid green;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
}

.box-two {
  background-color: azure;
  width: 450px;
  border: 15px solid rgb(82, 40, 131);
  padding: 20px;
  box-sizing: content-box;
}
