@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    width: 80vw;
    height: 170vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3em;
}

.form {
    padding: 1em;
    background-color: #2D4877;
    height: 80vh;
    color: white;
    width: 70vw;
    align-self: center;

}

.photo {
    width: 60vw;
    align-self: center;
    margin-top: 2em;
}

.photo h2 {
    letter-spacing: .1em;
    width: 100%;
}
.img {
    width: 60vw;
    height: 55vh;
    background-image: url(https://images01.nicepage.com/c461c07a441a5d220e8feb1a/edb0e79e9f605a12a2045f4a/fdg-min.jpg);
    background-size:  cover;
    background-position: center;
    margin-top: 2em;
}
.form p {
    margin-bottom: 2em;
    font-size: 18px;
    line-height: 1.6em;
}
.form h2 {
    margin-bottom: 1.8em;
}
.form form input {
    font-size: 1.7em;
    height: 2em;
    margin-bottom: .5em;
}
.form form input::placeholder {
    font-size: .7em;
    padding: .8em 0 .8em .8em;
}

.form form .form__btn {
    font-size: 1.3rem;
    height: 2.8em;
    font-weight: bold;
    padding: 1.5em auto;
    letter-spacing: .1em;
    background-color: #C2D7EB;
    color: #2D4877;
}
.freepik {
    font-weight: thin;
}
.freepik a {
    color: white;
}


.footer {
    background-color: #333333;
    height: 30vh;
    color: white;
}

.footer p {
    text-align: center;
    padding: 3em;
}

.form form {
    display: flex;
    flex-direction: column;
    gap: .2em;
}

@media only screen and (min-width: 800px) {
    .wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-around;
      width: 70vw;
      height: 80vh;
      margin: 2em auto;
    }
    .form {
        width: 50%;
        padding: 2em;
    }
    .photo {
        width: 50%;
        align-self: center;
    }
    .photo h1 {
        font-size: 3rem;
    }
    .photo .img {
        width: 100%;
        background-position: top;
    }
  }