* {
    box-sizing: border-box;
}

body {
    display: grid;
    background: linear-gradient(100deg, #c9efc9, #72fa72);
    font-size: 3rem;
    /*grid-template-columns: 100px 150px 250px 150px 150px 150px;*/
    /*grid-template-columns: repeat(15, 100px);*/
    /*grid-template-columns: repeat(6, 100px 150px 300px) 100px;*/
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-columns: repeat(5, 1fr 2fr) 4fr;*/
    /*grid-template-columns: repeat(auto-fit, 150px);*/
    /*grid-template-columns: repeat(auto-fill, 150px);*/
    /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/

    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-gap: 20px;
    /*grid-template-rows: 200px 500px 300px;*/
    grid-template-rows: repeat(20, 100px);
}

body > *{
    border: 1px solid gold;
    /*height: 100px;*/
    /*width: 100px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: moccasin;

    width: 100%;
    height: 100%;
}


.item1 {
    background-color: #d9c548;
    /*grid-column: 1 / span 2;*/
    /*grid-column: 5 / span 3;*/
    grid-column: 1 / span 2;
    grid-row: 1/span 3;
}

.item:nth-child(9n) {
    background-color: deepskyblue;
    grid-column: span 3;
    grid-row: span 3;
}

.item:nth-child(7n) {
    grid-column: span 5;
    background-color: greenyellow;
}

.item:nth-child(5n) {
    grid-column: span 2;
    background-color: gold;
}

.item206{
    background-color: red;
    grid-column: span 10;
}