@import "print.css" print;
@import "breakpoint-768.css" screen and (min-width: 768px);
@import "breakpoint-992.css" screen and (min-width: 992px);
@import "breakpoint-1200.css" screen and (min-width: 1200px);

.box {
    border: solid 5px black;
    margin: 5px auto;
    min-height: 15vh;
    /*background-color: #cf8cb9;*/
}

/*.box:nth-child(even) {*/
/*    background-color: mediumslateblue;*/
/*}*/

/*.box:nth-child(odd) {*/
/*    background-color: #9bb858;*/
/*}*/

div:nth-child(3n) {
    background-color: #e2d55f;
}

div:nth-child(3n+1) {
    background-color: #5b98cd;
}

div:nth-child(3n+2) {
    background-color: #a73097;
}

.col-small-12 {
    width: 90vw;
}