html,
body {
    height: 100%;
}

body {
    color: beige;
    font-size: 3.5rem;
    display: flex;
    background: linear-gradient(to right, #1c9a1c, #96dc96);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}