html,
body {
    height: 100%;
}

body {
    color: #333;
    /*https://mybrandnewlogo.com/ru/generator-cvetovoi-palitry*/
    background: linear-gradient(to right, #d7f1df, #a6f5b8);
    height: 70vh;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

