table {
  width: 800px;
  height: 400px;
  border-collapse: collapse;
}

td {
  border: 3px dotted grey;
  width: 100px;
}

.block1 {
  background-color: red;
}

.block2 {
  background-color: blue;
}

.block3 {
  background-color: yellow;
}

.block4 {
  background-color: green;
}

.block5 {
  background-color: lightskyblue;
}

.block6 {
  background-color: purple;
}
